<div class="background-contact">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h2 class="contact-title">Contactez-nous</h2>
        <h3 class="contact-question">Une question ?<br>Un projet ?</h3>
        <h3 class="contact-texte">Nous réalisons à vos côtés <br>une application web ou mobile <br>au service de la croissance de votre business</h3>
        <%= form_with(model: @contact_message, url: create_contact_path, method: :post, local: true) do |form| %>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-5 d-flex flex-column align-items-start">
                  <p><%= form.label :name, 'Nom' %></p>
                  <%= form.text_field :name, class: 'form-control w-100', required: true %>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group mb-5 d-flex flex-column align-items-start">
                  <p><%= form.label :first_name, 'Prénom' %></p>
                  <%= form.text_field :first_name, class: 'form-control w-100', required: true %>
                </div>
              </div>
            </div>


          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-5 flex-column align-items-start">
                <p><%= form.label :email, 'Adresse e-mail' %></p>
                <%= form.email_field :email, class: 'form-control', required: true %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group mb-5 flex-column align-items-start">
                <p><%= form.label :phone, 'Téléphone' %></p>
                <%= form.text_field :phone, class: 'form-control', required: true %>
              </div>
            </div>

            <div class="d-flex justify-content-center">
              <select class="form-select mb-5 w-75" aria-label="Default select example">
                <option selected>Votre budget</option>
                <option value="1">inférieur à 10000 €</option>
                <option value="2">Entre 10000 et 15000 €</option>
                <option value="3">Entre 15000 et 50000 €</option>
                <option value="4">supérieur à 50000 €</option>
              </select>
            </div>
          </div>
          <div class="form-group mb-5">
            <p><%= form.label :message, 'Votre projet' %></p>
            <%= form.text_area :message, class: 'form-control', rows: 5, required: true %>
          </div>

          <%= form.submit 'Envoyer', class: 'btn btn-primary w-100' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= simple_form_for(@contact_message) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :first_name %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :budget, collection: ["inférieur à 10000 €", "Entre 10000 et 15000 €", "Entre 15000 et 50000 €", "supérieur à 50000 €"]  %>
    <%= f.input :message %>
  </div>

  <div class="form-actions bg-dark text-center">
    <%= f.button :submit, "Confirm", class:"text-white" %>
  </div>
<% end %>
