<div class="landing-banner">
  <div class="headingcontent">
    <h1 class="titre">
      <span>Votre Succès, </span><br>
      <span class="couleur-accent">Notre Code</span>
    </h1>

    <div class="sous-titre">
      <span class="texte-accroche">
        Explorez de nouveaux horizons numériques avec Helivo, <span class="texte-accroche-gras">votre partenaire de confiance</span> en développement web. Projets sur mesure, modernisation efficace, maintenance proactive et contenu SEO stratégique. Optez pour Helivo, où l'intelligence artificielle redéfinit la norme.
      </span>
    </div>

    <div class="button-frame">
      <button class="boutoncontact">
        <b class="contactez-nous">Contactez nous</b>
      </button>
    </div>

    <div class="details">
      <div class="detail">
        <%= image_tag "check.svg", alt: "Check Icon" %>
        <div class="avantage">Expertise</div>
      </div>
      <div class="detail">
        <%= image_tag "check.svg", alt: "Check Icon" %>
        <div class="avantage">Efficacité</div>
      </div>
      <div class="detail">
        <%= image_tag "check.svg", alt: "Check Icon" %>
        <div class="avantage">Rentabilité</div>
      </div>
    </div>
  </div>
</div>

      <div class="conteneur-services" id="services">
        <h2 class="titre-services">Nos Services</h2>
        <div class="service">
            <%= image_tag "icon_services_1.png", style: "width:150px; height: 150px;" %>
          <div class="titre-et-texte-service">
            <h3 class="titre-service">Projets sur mesure</h3>
            <div class="texte-service">
              <p>Optimisez la productivité de votre entreprise avec nos Projets sur mesure, offrant des solutions personnalisées pour une croissance rapide et efficace.</p>
            </div>
          </div>
        </div>
        <div class="service">
          <%= image_tag "icon_service_2.png", style: "width:150px; height: 150px;" %>
          <div class="titre-et-texte-service">
            <h3 class="titre-service">Modernisation de projets</h3>
            <div class="texte-service">
              <p>Transformez rapidement votre projet pour une présence digitale performante, dépassant la concurrence et atteignant vos objectifs de manière rentable.</p>
            </div>
          </div>
        </div>
        <div class="service">
          <%= image_tag "icon_service_3.png", style: "width:150px; height: 150px;" %>
          <div class="titre-et-texte-service">
            <h3 class="titre-service">Maintenance active</h3>
            <div class="texte-service">
              <p>Assurez une disponibilité maximale et une expérience utilisateur optimale en anticipant les problèmes grâce à notre service de Maintenance active pour votre site.</p>
            </div>
          </div>
        </div>
        <div class="service">
          <%= image_tag "icon_services_4.png", style: "width:150px; height: 150px;" %>
          <div class="titre-et-texte-service">
            <h3 class="titre-service">Contenu SEO stratégique</h3>
            <div class="texte-service">
              <p>Maximisez la visibilité en ligne avec notre stratégie de contenu SEO alimentée par l'IA, générant rapidement des résultats exceptionnels tout en optimisant votre budget.</p>
            </div>
          </div>
        </div>
      </div>

<div class="notre-mission">
  <div class="notre-mission-frame">
    <div class="texte-notre-mission">
      <h2 class="titre-notre-mission">Notre Mission</h2>
      <p class="texte-notre-mission">Exceller dans le numérique avec Efficacité et Fiabilité.</p>
    </div>
    <div class="row mb-5">
      <div class="col-md-5">
        <%= image_tag "notremission_img1.png", class: "img-nm" %>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <p>Chez Helivo, notre <strong>engagement</strong> premier est votre <strong>satisfaction</strong>. Nous nous distinguons par notre respect des engagements, prenant en charge chaque projet de sa conception à sa réalisation intégrale. Forts d'une expertise pointue, nous garantissons des résultats dépassant vos attentes. Avec un interlocuteur dédié pour un suivi personnalisé, nous vous offrons une expérience unique, alliant <strong>qualité</strong> exceptionnelle et tarifs compétitifs grâce à nos techniques de production alimentées par l'IA.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-5">
        <p>À travers notre approche axée sur l'excellence, nous nous efforçons constamment d'<strong>innover</strong> et d'<strong>optimiser</strong> nos méthodes de travail pour répondre aux besoins spécifiques de chaque client. Notre équipe dévouée, composée d'experts chevronnés, s'engage à maintenir un niveau élevé de qualité et de fiabilité à toutes les étapes du processus. En investissant dans des technologies de pointe et en restant à l'affût des dernières avancées, nous sommes en mesure de garantir des solutions <strong>avant-gardistes</strong> et parfaitement adaptées à votre projet.</p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <%= image_tag "Notremission_img2.jpg", class: "img-nm" %>
      </div>
    </div>
  </div>
</div>

<div class="info">
  <div class="item">
        <h2 class="info-titre-principal">Au cœur de notre savoir-faire, la création rapide de solutions web intelligentes.</h2>
        <p class="text-info-helivo"><strong>Chez Helivo</strong>, notre passion et notre expertise se concentrent sur la fusion harmonieuse entre l'<strong>intelligence artificielle (IA)</strong> et le <strong>développement web</strong>. Nous sommes spécialisés dans la création de solutions web sur mesure, révolutionnant la façon dont les entreprises abordent le développement de nouveaux produits en ligne.</p>
    </div>

    <div class="item">
        <p class="text-info-helivo">Nous <strong>excellons dans la conception et le développement d'applications web</strong> à la pointe de la technologie, intégrant des fonctionnalités intelligentes grâce à notre expertise en <strong>IA</strong>. Notre approche est centrée sur la résolution de problématiques business et techniques complexes pour offrir des solutions performantes.</p>
        <%= image_tag "NE_img1.png" %>
    </div>

    <div class="item">
        <%= image_tag "NE_img2.png" %>
        <p class="text-info-helivo">Votre succès est notre priorité, et notre équipe expérimentée propose des conseils stratégiques basés sur une <strong>vision 360 des enjeux produits</strong>. De la sélection de la stack technique à la définition de partenariats stratégiques, en passant par l'optimisation de l'<strong>expérience utilisateur (UX/UI)</strong> et les aspects liés à l'acquisition et au financement, nous vous accompagnons à chaque étape.</p>
    </div>

    <div class="item">
        <p class="text-info-helivo">Notre alliance unique de <strong>l'IA et du développement web</strong> nous permet de vous offrir des délais de livraison exceptionnellement rapides. Les processus accélérés et les coûts optimisés résultent en un <strong>avantage financier indéniable pour votre entreprise</strong>, sans compromis sur la qualité.</p>
        <%= image_tag "NE_img3.png" %>
    </div>

    <div class="item">
        <%= image_tag "NE_img4.png" %>
        <p class="text-info-helivo">Au-delà du développement, nous sommes des experts en <strong>création de contenu avec l'IA</strong>, garantissant une <strong>visibilité en ligne optimale</strong>. Notre engagement envers la <strong>croissance de votre visibilité</strong> se traduit par des stratégies <strong>SEO stratégiques</strong> et un <strong>contenu qui se démarque</strong> dans un monde numérique en constante évolution.</p>
    </div>
</div>

      <div class="contactus" id="contact">
        <div class="contactusframe">
          <h2 class="titre-contact">Prêt à commencer ?</h2>
          <div class="text-contact">
            <p>Contactez nous par email pour discuter de votre besoin</p>
          </div>
          <div class="button-frame">
            <button class="boutoncontact">
              <b class="contactez-nous">Contactez nous</b>
            </button>
          </div>
        </div>
      </div>
      <div class="space"></div>
      <div id="footer"></div>
